{% extends "html/base.html" %}
{% load static %}

{% block title %}Contact Us{% endblock %}

{% block nav %}
<body>
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
                <a class="navbar-brand" href="/">WeGive</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="page-scroll"><a href="/sign_up">Sign Up</a>
                </li>
                <li class="page-scroll"><a href="/search">Search</a>
                </li>
                <li class="page-scroll"><a href="/about">About</a>
                </li>
                <li class="page-scroll"><a href="/loginat">Login</a>
                </li>
                <li class="page-scroll"><a href="/survey">Survey</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}
<!--- End Navbar --->

{% block main %}
<div class="container-fluid bg-1 text-center">
	<h1> Contact Us </h1>
    <form action="/contact/" method="post">
        {% csrf_token %}
        {{form}}
        <input class="btn btn-primary" type="submit" value="Submit" />
    </form>
    <h6> Email : wegiveunh@gmail.com </h6>
    <h6> Phone : 123456789 </h6>
</div>

<!--- Footer --->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                    <h3>Check Us Out</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="http://facebook.com" class="btn-social btn-outline"><span class="sr-only">Facebook</span><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="http://twitter.com" class="btn-social btn-outline"><span class="sr-only">Twitter</span><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="http://instagram.com" class="btn-social btn-outline"><span class="sr-only">Instagram</span><i class="fa fa-fw fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="http://youtube.com" class="btn-social btn-outline"><span class="sr-only">Youtube</span><i class="fa fa-fw fa-youtube"></i></a>
                        </li>
                    </ul>
                    <br>
                    <br>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    UNH Manchester 2017
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
{% endblock %}






















