{% extends "html/base.html" %}
{% load static %}

{% block title %}WeGive{% endblock %}
{% block head %}
    <link rel = "stylesheet" type="text/css" href="{% static '/css/flatly.css' %}" />
    <style type="text/css">
    /*
     * 1FFFAF (Green/Teal)
     * 12D1FF (Blue-ish)
     * FFFFFF (White)
     */
        #top {
            background: url("{% static '/img/unhmanchester.jpg' %}") no-repeat;
            background-size: 100%;
            width: 100%;
            height: 550px;
            color: #fff;
        }

        #top .btn {
            float: right;
        }

        .social {
            display: flex;
            flex-direction: column;
            float: left;
            background: #1fffaf;
            border-radius: 0 10px 10px 0;
        }

        .social a {
            margin: 10px;
        }

        .logo {
            width: 25%;
            margin: auto;
            text-align: center;
            color: ;
        }

        .logo img {
            width: 100%;
        }

        #top > header {
            padding-top: 100px;
        }

        .social a img {
            width: 42px;
            height: 42px;
            border: 0;
        }

    </style>
    
    <meta name="author" content="your name" />
    <meta name="description" content="" />
{% endblock %}

<!--webpage info-->
{% block header %}
    <!-- <img src="{% static '/img/unhmanchester.jpg' %}" alt="UNH at manchester" style="width:1354px;"> -->
    <div class="logo">
        <h1>WeGive</h1>
        <img src="{% static '/img/transparent-logo.png' %}">
    </div>
{% endblock %}
{% block nav %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a align="center" class="navbar-brand" href="#"><img src="{% static '/img/WeGiveOfficialLogo.png' %}" style="width:15px;height:15px">WeGive</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
		<li class="active"><a href="{% url 'search' %}">Home</a></li>
        <li><a href="{% url 'search' %}">Search</a></li>
		<li><a href="http://facebook.com/"><img src="{% static '/img/facebookthumb.jpg' %}" alt="Facebook" style="width:25px;height:25px"></a></li>
		<li><a href="http://twitter.com/"><img src="{% static '/img/twitterthumb.png' %}" alt="Twitter" style="width:25px;height:25px"></a></li>
		<li><a href="http://instagram.com/"><img src="{% static '/img/instagramthumb.png' %}" alt="Instagram" style="width:25px;height:25px"></a></li>
		<li><a href="http://youtube.com/"><img src="{% static '/img/youtubethumb.png' %}" alt="Youtube" style="width:25px;height:20px"></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}

{% block main %}
    <div id="content">
        <h2>About us</h2>
        <p>
            This is the description of WeGive and our mission possibly?
        </p>
        <p> 
            second paragraph. take stuff from business plan and paste here.
        </p>
    </div>
    <div id="footer">
        <p>
            Webpage created by <a href="http://manchester.unh.edu/">UNH students</a>
        </p>
    </div>
{% endblock %}






