{% extends "html/base.html" %}

<!DOCTYPE html>
<html>
<head>
<!--webpage info-->

    <title>WeGive</title>
	
	<meta name="author" content="your name" />
	<meta name="description" content="" />

<!-- you should always add your stylesheet (css) in the head tag so that it starts loading before the page html is being displayed -->	
	<link rel="stylesheet" href="style.css" type="text/css" />
	
</head>
{% block main %}
<body>
	<div id="page">
		<div id="logo">
			<h1>WeGive</h1>
		</div>
		<div id="nav">
			<ul>
				<!-- <li><a href="#/first link to another webpage.html">Name of the webpage</a>
				</li> -->
			</ul>	
		</div>
		<div id="content">
			<h2>About us</h2>
			<p>
				This is the description of WeGive and our mission possibly?
			</p>
			<p> 
				second paragraph. take stuff from business plan and paste here.
			</p>
		</div>
		<div id="footer">
			<p>
				Webpage made by WeGive student group
			</p>
		</div>
	</div>
</body>
{% endblock %}
</html>






