{% extends "html/base.html" %}
{% load static %}

{% block title %}WeGive{% endblock %}
{% block head %}
    <meta name="author" content="your name" />
    <meta name="description" content="" />
{% endblock %}
<!-- Navbar -->
{% block nav %}
<body id="page-top" class="index">
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom affix-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
                <a class="navbar-brand" href="/">WeGive</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="page-scroll"><a href="/sign_up">Sign Up</a>
                </li>
                <li class="page-scroll"><a href="/loginat">Login</a>
                </li>
                <li class="page-scroll"><a href="/search">Search</a>
                </li>
                <li class="page-scroll"><a href="/about">About</a>
                </li>
                <li class="page-scroll"><a href="/survey">Survey</a>
                </li>
                <li class="page-scroll"><a href="/contact">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}
<!--- End Navbar --->
{% block main %}
<!--- Header and logo --->
<header>
<div class="container" id="maincontent" tabindex="-1">
    <div class="row">
        <div class="col-lg=12">
            <img src="{% static 'img/WeGiveOfficialLogo.png' %}" class="img-responsive" alt="logo" width="300" height="300">
                <div class="intro-text">
                    <h1 class="name">WeGive</h1>
                    <hr class="star-light">
                    </hr>
                    <span class="skills">Charitable Giving Done Right</span>
                </div>
        </div>
    </div>
</div>
</header>
<!--- End Header and logo --->
<!--- How it works ---> 
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2> How WeGive Works </h2>
                <hr class="star-primary">
                </hr>
                <br>
                <img src="{% static '/img/howitworks.png' %}" class="img-responsive" 
                style="display:inline" alt="HowItWorks" width="800" height="800">
                <br>
            </div>
        </div>
    </div>
</section>
<!--- End how it works --->
<!--- Want to give? --->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Want to give?</h2>
                <hr class="star-light">
                </hr>
                <br>
                <p>
                Do you want to find charities in your area? Do you already know of
                a charity you'd like to donate to? 
                <br>Use our search feature below to 
                get started today!
                </p>
                <br>
                <a href="/search" class="btn btn-primary btn-lg">
                <span class="glyphicon glyphicon-search"></span> Search
                </a>
            </div>
        </div>
    </div>
</section>
<!--- End Want to give? --->
<!--- Who we are ---> 
<section class="portfolio">
    <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2> Who We Are </h2>
                    <hr class="star-primary">
                    </hr>
                    <p>WeGive aims to connect donors to charities in their area, while providing the easiest platform for giving. 
                    <br>
                    WeGive was developed by the UNH Manchester Comp698 team. Want to learn more?
                    <br> Checkout our Contact Us page!
                    </p>
                </div>
            </div>
    </div>
</section>
<!--- End who we are --->
<!--- Footer --->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                    <h3>Check Us Out</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="http://facebook.com" class="btn-social btn-outline"><span class="sr-only">Facebook</span><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="http://twitter.com" class="btn-social btn-outline"><span class="sr-only">Twitter</span><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="http://instagram.com" class="btn-social btn-outline"><span class="sr-only">Instagram</span><i class="fa fa-fw fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="http://youtube.com" class="btn-social btn-outline"><span class="sr-only">Youtube</span><i class="fa fa-fw fa-youtube"></i></a>
                        </li>
                    </ul>
                    <br>
                    <br>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    UNH Manchester 2017
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
<!--- End Footer --->
{% endblock %}